<form class="w-50" id="productsForm" autocomplete="off">
  <div class="mb-3">
    <label for="" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" required placeholder="Type the title here..." />
  </div>
  <div class="mb-3">
    <label for="thumbnail" class="form-label">Thumbnail URL</label>
    <input type="text" class="form-control" name="thumbnail" required placeholder="Type the thumbnail url here..." />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" name="price" required placeholder="Type the price here..." />
  </div>
  <button type="submit" class="btn btn-dark">
      Send
  </button>
  <button type="reset" class="btn btn-dark">
      Reset
  </button>
</form>